@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&family=Ultra&display=swap");

.fonts-regular {
  font-family: "Roboto", sans-serif;
}

.fonts-logo-titles {
  font-family: "Ultra", serif;
}
/* section2*/
:root {
  --bs-success-head: #2c9463;
  --bs-success-text: #175f3e;
}
.section2Color {
  color: var(--bs-success-head);
}
.section2p {
  color: var(--bs-success-text);
  font-weight: 500;
}
.section2Margin {
  margin: 30px 310px;
}

.card-img-top {
  transition: 0.5s ease;
  height: 250px;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 38%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.card:hover .image {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: larger;
}
/* nav*/
.bg-secondary {
  background-color: #61a5a0 !important;
}

.navbar-brand {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.nav-item {
  text-transform: uppercase;
}

aside .nav-item a {
  display: flex;
  align-items: center;
  color: #61a5a0;
}

aside .nav-item a.active {
  display: flex;
  align-items: center;
  color: #fff;
  background: #61a5a0;
}

aside .nav-item a:hover,
aside .nav-item a:active {
  display: flex;
  align-items: center;
  color: #fff;
  background: #61a5a0;
}

#header {
  position: relative;
}

#header.is-scrolled {
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  animation-name: navbar-slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes navbar-slide {
  from {
    top: -60px;
  }
  to {
    top: 0px;
  }
}

#hero {
  background: url(./images/food-blog-bg.jpeg);
  mask-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 45vh;
}

#hero h1 {
  color: white;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 2rem;
}

.img-recipe {
  height: 300px;
  width: 500px;
}

.img-adv {
  margin-top: 80%;
}
