@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&family=Ultra&display=swap");

.fonts-regular {
  font-family: "Roboto", sans-serif;
}

.fonts-logo-titles {
  font-family: "Ultra", serif;
}

.bg-secondary {
  background-color: #61a5a0 !important;
}

.navbar-brand {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.nav-item {
  text-transform: uppercase;
}

#hero {
  background: url(/images/food-blog-bg.jpeg);
  background-size: cover;
  background-position: center center;
  height: 45vh;
}

#hero h1 {
  color: white;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 2rem;
}
